@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap");
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* {} */
.perfume {
  color: hsl(228, 12%, 48%);
  font-family: "montserrat";
  position: absolute;
  left: 25px;
  top: 30px;
}
.card {
  width: 600px;
  height: 500px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.1);
}

img {
  width: 50%;
  border-radius: 15px 0 0 15px;
}

.text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

h1 {
  font-family: "Fraunces";
  font-weight: bolder;
  color: hsl(212, 21%, 14%);
  margin: 15px 0 15px 0;
}

p {
  font-family: "montserrat";
  line-height: 1.7;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  margin: 10px 0 10px 0;
}

.price {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
}

span {
  font-family: "Fraunces";
  font-weight: bold;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  padding-right: 30px;
}
.small {
  text-decoration: line-through;
  font-family: "montserrat";
  color: hsl(228, 12%, 48%);
}
button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 10px 35px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  gap: 10px;
}
button img {
  width: 20px;
  height: 20px;
}

button:hover {
  background-color: hsl(212, 21%, 14%);
}
